{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
  <!-- 🔹 소개 문구 -->
  <div class="text-center my-4">
    <h5 class="fw-bold mb-2 text-dark">간단한 밈 템플릿</h5>
    <p class="text-muted small">
      문구나 이미지를 추가하여 나만의 밈 이미지를 만드세요.
    </p>
  </div>
  <div class="row">
    {% for category in meme_menu %}
      <div class="col-md-4 mb-4 text-center">
        <a href="/{{ category.slug }}/">
          <img src="{% static category.image %}" class="img-fluid rounded shadow-sm" style="max-height: 150px;">
          <h5 class="mt-2">{{ category.name }}</h5>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
